@page "/Trajectory/webapp"
@using System.Text;
@using NORCE.Drilling.Trajectory.WebApp.Client
@using NORCE.Drilling.Trajectory.ModelClientShared;

<h1>Trajectory Editor</h1>

<p>This page is used to manage trajectories</p>
@if (trajectories == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<h2>Trajectory List</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Wellbore ID</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < trajectories.Count; i++)
			{
				var local = i;
			<tr>
				<td>
					<span class="label" hidden="@IsTrajectoryDisplayHidden[i]">@trajectories[i].Name</span>
					<input class="text" type="text" hidden="@IsTrajectoryInputHidden[i]" @bind="@updatedTrajectory.Name" />
				</td>
				<td>
					<span class="label" hidden="@IsTrajectoryDisplayHidden[i]">@trajectories[i].Description</span>
					<input class="text" type="text" hidden="@IsTrajectoryInputHidden[i]" @bind="@updatedTrajectory.Description" />
				</td>
				<td>
					<span class="label" hidden="@IsTrajectoryDisplayHidden[i]">@trajectories[i].WellboreID</span>
					<select class="form-control selectpicker" hidden="@IsTrajectoryInputHidden[i]" @bind="@updatedTrajectory.WellboreID">
						@foreach (int wellboreID in wellboreIDs)
						{
							<option>@wellboreID</option>
						}
					</select>
				</td>
				@*<td>
					<span class="label" hidden="@IsTrajectoryDisplayHidden[i]">@WellboreSurveyInstrument[i]</span>
					<select class="form-control selectpicker" hidden="@IsTrajectoryInputHidden[i]" @bind="@WellboreSurveyInstrument[i]">
						@foreach (string surveyInst in surveyInstruments)
						{
							<option>@surveyInst</option>
						}
					</select>
				</td>*@
				<td>
					<button class="btn btn-primary" hidden="@IsTrajectoryEditButtonHidden[i]" @onclick="@(() => Edit(local))">Edit</button>
					<button class="btn btn-primary" hidden="@IsTrajectoryDeleteButtonHidden[i]" @onclick="@(() => Delete(local))">Delete</button>
					<button class="btn btn-primary" hidden="@IsTrajectoryUpdateButtonHidden[i]" @onclick="@(() => Update(local))">Update</button>
					<button class="btn btn-primary" hidden="@IsTrajectoryCancelButtonHidden[i]" @onclick="@(() => Cancel(local))">Cancel</button>
				</td>
			</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td>
					<input class="text" type="text" hidden="@IsTrajectoryAddInput" @bind="@editedTrajectory.Name" />
				</td>
				<td>
					<input class="text" type="text" hidden="@IsTrajectoryAddInput" @bind="@editedTrajectory.Description" />
				</td>
				<td>
					<select class="form-control selectpicker" hidden="@IsTrajectoryAddInput" @bind="@editedTrajectory.WellboreID">
						@foreach (int wellboreID in wellboreIDs)
						{
							<option>@wellboreID</option>
						}
					</select>
				</td>
				<td>
					<button class="btn btn-primary" hidden="@IsTrajectoryAddInput" @onclick="Add">Add</button>
					<button class="btn btn-primary" hidden="@IsTrajectoryAddInput" @onclick="Cancel">Cancel</button>
				</td>
			</tr>
		</tfoot>
	</table>
	<h2 hidden="@IsTableSurveyListHidden">Survey List Editor for @trajectoryName</h2>
	<table class="tableSurveyList" hidden="@IsTableSurveyListHidden">
		<thead>
			<tr>
				<th>MD</th>
				<th>Inclination</th>
				<th>Azimuth</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < surveyStations.Count; i++)
			{
				var local = i;
				<tr>
					<td>
						<span class="label" hidden="@IsSurveyStationDisplayHidden[i]">@surveyStations[i].MD</span>
						<input class="text" type="text" hidden="@IsSurveyStationInputHidden[i]" @bind="@updatedSurveyStation.MD" />
					</td>
					<td>
						<span class="label" hidden="@IsSurveyStationDisplayHidden[i]">@surveyStations[i].Incl</span>
						<input class="text" type="text" hidden="@IsSurveyStationInputHidden[i]" @bind="@updatedSurveyStation.Incl" />
					</td>
					<td>
						<span class="label" hidden="@IsSurveyStationDisplayHidden[i]">@surveyStations[i].Az</span>
						<input class="text" type="text" hidden="@IsSurveyStationInputHidden[i]" @bind="@updatedSurveyStation.Az" />
					</td>
					<td>
						<button class="btn btn-primary" hidden="@IsSurveyStationEditButtonHidden[i]" @onclick="@(() => EditSurveyStation(local))">Edit</button>
						<button class="btn btn-primary" hidden="@IsSurveyStationDeleteButtonHidden[i]" @onclick="@(() => DeleteSurveyStation(local))">Delete</button>
						<button class="btn btn-primary" hidden="@IsSurveyStationUpdateButtonHidden[i]" @onclick="@(() => UpdateSurveyStation(local))">Update</button>
						<button class="btn btn-primary" hidden="@IsSurveyStationCancelButtonHidden[i]" @onclick="@(() => CancelSurveyStation(local))">Cancel</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<h2 hidden="@IsTableResultHidden">Ellipse Radiuses @trajectoryName</h2>	
	<table class="tableResult" hidden="@IsTableResultHidden">
		<thead>
			<tr>
				<th>R1</th>
				<th>R2</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < listRadius.Count; i++)
			{
				List<double> list = listRadius[i];
				if (list[0] != null)
				{

				<tr>
					<td>
						<span class="label" hidden="@IsResultDisplayHidden[i]">@list[0]</span>
						<input class="text" type="text" hidden="@IsResultInputHidden[i]" @bind="@list[0]" />
					</td>
					<td>
						<span class="label" hidden="@IsResultDisplayHidden[i]">@list[0]</span>
						<input class="text" type="text" hidden="@IsResultInputHidden[i]" @bind="@list[1]" />
					</td>			
					
				</tr>
				}
			}
		</tbody>
	</table>

}

@code {
	private HttpClient httpTrajectory;
	private List<bool> IsTrajectoryDisplayHidden;
	private List<bool> IsTrajectoryInputHidden;
	private List<bool> IsTrajectoryEditButtonHidden;
	private List<bool> IsTrajectoryDeleteButtonHidden;
	private List<bool> IsTrajectoryUpdateButtonHidden;
	private List<bool> IsTrajectoryCancelButtonHidden;
	private List<bool> IsSurveyStationDisplayHidden;
	private List<bool> IsSurveyStationInputHidden;
	private List<bool> IsSurveyStationEditButtonHidden;
	private List<bool> IsSurveyStationDeleteButtonHidden;
	private List<bool> IsSurveyStationUpdateButtonHidden;
	private List<bool> IsSurveyStationCancelButtonHidden;
	private List<bool> IsResultDisplayHidden;
	private List<bool> IsResultInputHidden;
	private bool IsTrajectoryAddInput;
	private bool IsTableSurveyListHidden;
	private bool IsTableResultHidden;
	private List<NORCE.Drilling.Trajectory.ModelClientShared.Trajectory> trajectories;
	private List<NORCE.Drilling.Trajectory.ModelClientShared.SurveyStation> surveyStations;
	private List<List<double>> listRadius = new List<List<double>>();
	private List<string> surveyInstruments = new List<string>();
	private List<string> WellboreSurveyInstrument = new List<string>();

	private HttpClient httpWellbore;
	private int[] wellboreIDs;
	private string trajectoryName;
	private static int extraSurveyStationCount = 20;

	private NORCE.Drilling.Trajectory.ModelClientShared.Trajectory editedTrajectory;
	private NORCE.Drilling.Trajectory.ModelClientShared.Trajectory updatedTrajectory;
	private NORCE.Drilling.Trajectory.ModelClientShared.SurveyStation updatedSurveyStation;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			if (editedTrajectory == null)
			{
				editedTrajectory = new NORCE.Drilling.Trajectory.ModelClientShared.Trajectory();
			}
			if (updatedTrajectory == null)
			{
				updatedTrajectory = new NORCE.Drilling.Trajectory.ModelClientShared.Trajectory();
			}
			if (updatedSurveyStation == null)
			{
				updatedSurveyStation = new SurveyStation();
				updatedSurveyStation.MD = 0.0;
				updatedSurveyStation.Incl = 0.0;
				updatedSurveyStation.Az = 0.0;
			}
			if (surveyStations == null)
			{
				surveyStations = new List<SurveyStation>();
			}
			int[] initialTrajectoryIDs = await LoadTrajectoryIDs("https://app.DigiWells.no/");
			if (initialTrajectoryIDs == null)
			{
				initialTrajectoryIDs = await LoadTrajectoryIDs("http://host.docker.internal:10002/");
			}
			if (initialTrajectoryIDs == null)
			{
				initialTrajectoryIDs = await LoadTrajectoryIDs("http://localhost:10002/");
			}
			if (initialTrajectoryIDs == null)
			{
				initialTrajectoryIDs = await LoadTrajectoryIDs("https://localhost:44369/");
			}
			if (IsSurveyStationInputHidden == null)
			{
				IsSurveyStationInputHidden = new List<bool>();
			}
			if (IsSurveyStationDisplayHidden == null)
			{
				IsSurveyStationDisplayHidden = new List<bool>();
			}
			if (IsSurveyStationEditButtonHidden == null)
			{
				IsSurveyStationEditButtonHidden = new List<bool>();
			}
			if (IsSurveyStationDeleteButtonHidden == null)
			{
				IsSurveyStationDeleteButtonHidden = new List<bool>();
			}
			if (IsSurveyStationUpdateButtonHidden == null)
			{
				IsSurveyStationUpdateButtonHidden = new List<bool>();
			}
			if (IsSurveyStationCancelButtonHidden == null)
			{
				IsSurveyStationCancelButtonHidden = new List<bool>();
			}
			if (IsResultInputHidden == null)
			{
				IsResultInputHidden = new List<bool>();
			}
			if (IsResultDisplayHidden == null)
			{
				IsResultDisplayHidden = new List<bool>();
			}

			IsTrajectoryAddInput = false;
			IsTableSurveyListHidden = true;
			if (initialTrajectoryIDs != null)
			{
				trajectories = new List<NORCE.Drilling.Trajectory.ModelClientShared.Trajectory>();
				IsTrajectoryDisplayHidden = new List<bool>();
				IsTrajectoryInputHidden = new List<bool>();
				IsTrajectoryEditButtonHidden = new List<bool>();
				IsTrajectoryDeleteButtonHidden = new List<bool>();
				IsTrajectoryUpdateButtonHidden = new List<bool>();
				IsTrajectoryCancelButtonHidden = new List<bool>();
				int maxSurveyCount = 0;
				for (int i = 0; i < initialTrajectoryIDs.Length; i++)
				{
					var a = await httpTrajectory.GetAsync("Trajectories/" + initialTrajectoryIDs[i].ToString());
					if (a.IsSuccessStatusCode && a.Content != null)
					{
						string str = await a.Content.ReadAsStringAsync();
						if (!string.IsNullOrEmpty(str))
						{
							Trajectory trajectory = Newtonsoft.Json.JsonConvert.DeserializeObject<ModelClientShared.Trajectory>(str);
							if (trajectory != null)
							{
								trajectories.Add(trajectory);
								if (trajectory.SurveyList != null)
									if (trajectory.SurveyList.ListOfSurveys != null)
									{
										if (trajectory.SurveyList.ListOfSurveys.Count > maxSurveyCount) maxSurveyCount = trajectory.SurveyList.ListOfSurveys.Count;
									}
								IsTrajectoryDisplayHidden.Add(false);
								IsTrajectoryInputHidden.Add(true);
								IsTrajectoryEditButtonHidden.Add(false);
								IsTrajectoryDeleteButtonHidden.Add(false);
								IsTrajectoryUpdateButtonHidden.Add(true);
								IsTrajectoryCancelButtonHidden.Add(true);
							}
						}
					}
				}
				if (maxSurveyCount == 0)
				{
					extraSurveyStationCount += extraSurveyStationCount;
				}
				//surveyStations.Clear();
				for (int i = surveyStations.Count; i < maxSurveyCount; i++)
				{
					//SurveyStation surveyStation = new SurveyStation();
					//surveyStation.MD = 0.0;
					//surveyStation.Incl = 0.0;
					//surveyStation.Az = 0.0;
					//surveyStations.Add(surveyStation);
					//IsSurveyStationDisplayHidden.Add(false);
					//IsSurveyStationInputHidden.Add(true);
					//IsSurveyStationEditButtonHidden.Add(false);
					//IsSurveyStationDeleteButtonHidden.Add(false);
					//IsSurveyStationUpdateButtonHidden.Add(true);
					//IsSurveyStationCancelButtonHidden.Add(true);
					//IsResultDisplayHidden.Add(false);
					//IsResultInputHidden.Add(true);
				}
			}
			wellboreIDs = await LoadWellboreIDs("https://app.DigiWells.no/");
			if (wellboreIDs == null)
			{
				wellboreIDs = await LoadWellboreIDs("http://host.docker.internal:1002/");
			}
			if (wellboreIDs == null)
			{
				wellboreIDs = await LoadWellboreIDs("http://localhost:1002/");
			}
			if (wellboreIDs == null)
			{
				wellboreIDs = new int[2];
				wellboreIDs[0] = 1;
				wellboreIDs[1] = 2;
			}
			if (surveyInstruments == null || surveyInstruments.Count == 0)
			{
				surveyInstruments = new List<string>();
				surveyInstruments.Add("GoodMag");
				surveyInstruments.Add("PoorMag");
				surveyInstruments.Add("GoodGyro");
				surveyInstruments.Add("PoorGyro");
				//surveyInstruments[3] = "GoodGyro";
				//surveyInstruments[4] = "PoorGyro";
			}
		}
		catch (Exception e)
		{
			System.Console.WriteLine(e.Message);
		}
	}

	private async Task<int[]> LoadTrajectoryIDs(string host)
	{
		int[] initialTrajectoryIDs = null;
		try
		{
			httpTrajectory = new HttpClient();
			httpTrajectory.BaseAddress = new Uri(host + "Trajectory/api/");
			httpTrajectory.DefaultRequestHeaders.Accept.Clear();
			httpTrajectory.DefaultRequestHeaders.Accept.Add(new System.Net.Http.Headers.MediaTypeWithQualityHeaderValue("application/json"));

			var a = await httpTrajectory.GetAsync("Trajectories");
			if (a.IsSuccessStatusCode)
			{
				string str = await a.Content.ReadAsStringAsync();
				if (!string.IsNullOrEmpty(str))
				{
					initialTrajectoryIDs = Newtonsoft.Json.JsonConvert.DeserializeObject<int[]>(str);
				}
			}
		}
		catch (Exception e)
		{
			httpTrajectory = null;
			initialTrajectoryIDs = null;
		}
		return initialTrajectoryIDs;
	}

	private async Task<int[]> LoadWellboreIDs(string host)
	{
		int[] initialWellboreIDs = null;
		try
		{
			httpWellbore = new HttpClient();
			httpWellbore.BaseAddress = new Uri(host + "Wellbore/api/");
			httpWellbore.DefaultRequestHeaders.Accept.Clear();
			httpWellbore.DefaultRequestHeaders.Accept.Add(new System.Net.Http.Headers.MediaTypeWithQualityHeaderValue("application/json"));

			var a = await httpWellbore.GetAsync("Wellbores");
			if (a.IsSuccessStatusCode)
			{
				string str = await a.Content.ReadAsStringAsync();
				if (!string.IsNullOrEmpty(str))
				{
					initialWellboreIDs = Newtonsoft.Json.JsonConvert.DeserializeObject<int[]>(str);
				}
			}
		}
		catch (Exception e)
		{
			httpWellbore = null;
			initialWellboreIDs = null;
		}
		return initialWellboreIDs;
	}


	private void Edit(int idx)
	{
		if (trajectories != null && idx >= 0 && idx < trajectories.Count)
		{
			trajectories[idx].Copy(updatedTrajectory);
			trajectoryName = updatedTrajectory.Name;
			surveyStations = new List<SurveyStation>();
			IsSurveyStationDisplayHidden = new List<bool>();
			IsSurveyStationInputHidden = new List<bool>();
			IsSurveyStationEditButtonHidden = new List<bool>();
			IsSurveyStationDeleteButtonHidden = new List<bool>();
			IsSurveyStationUpdateButtonHidden = new List<bool>();
			IsSurveyStationCancelButtonHidden = new List<bool>();
			IsResultDisplayHidden = new List<bool>();
			IsResultInputHidden = new List<bool>();
			if (updatedTrajectory.SurveyList != null && updatedTrajectory.SurveyList.ListOfSurveys != null)
			{
				foreach (SurveyStation station in updatedTrajectory.SurveyList.ListOfSurveys)
				{
					surveyStations.Add(station);
					IsSurveyStationDisplayHidden.Add(false);
					IsSurveyStationInputHidden.Add(true);
					IsSurveyStationEditButtonHidden.Add(false);
					IsSurveyStationDeleteButtonHidden.Add(false);
					IsSurveyStationUpdateButtonHidden.Add(true);
					IsSurveyStationCancelButtonHidden.Add(true);
					IsResultDisplayHidden.Add(false);
					IsResultInputHidden.Add(true);
				}
			}
			if (surveyStations.Count == 0)
			{
				double MDi = 0.0;
				for (int i = 0; i < extraSurveyStationCount; i++)
				{
					SurveyStation st = new SurveyStation();
					st.MD = MDi;
					st.Az = 0.0;
					st.Incl = 0.0;
					st.X = 0.0;
					st.Y = 0.0;
					st.Z = MDi;
					surveyStations.Add(st);
					IsSurveyStationDisplayHidden.Add(false);
					IsSurveyStationInputHidden.Add(true);
					IsSurveyStationEditButtonHidden.Add(false);
					IsSurveyStationDeleteButtonHidden.Add(false);
					IsSurveyStationUpdateButtonHidden.Add(true);
					IsSurveyStationCancelButtonHidden.Add(true);
					IsResultDisplayHidden.Add(false);
					IsResultInputHidden.Add(true);
					MDi = MDi + 30.0;
				}
			}
			IsTrajectoryAddInput = true;
			for (int i = 0; i < IsTrajectoryDisplayHidden.Count; i++)
			{
				if (i == idx)
				{
					IsTrajectoryDisplayHidden[i] = true;
					IsTrajectoryInputHidden[i] = false;
					IsTrajectoryEditButtonHidden[i] = true;
					IsTrajectoryDeleteButtonHidden[i] = true;
					IsTrajectoryUpdateButtonHidden[i] = false;
					IsTrajectoryCancelButtonHidden[i] = false;
				}
				else
				{
					IsTrajectoryDisplayHidden[i] = false;
					IsTrajectoryInputHidden[i] = true;
					IsTrajectoryEditButtonHidden[i] = true;
					IsTrajectoryDeleteButtonHidden[i] = true;
					IsTrajectoryUpdateButtonHidden[i] = true;
					IsTrajectoryCancelButtonHidden[i] = true;
				}
			}
			IsTableSurveyListHidden = false;
		}
	}


	private void EditSurveyStation(int idx)
	{
		if (surveyStations != null && idx >= 0 && idx < surveyStations.Count)
		{
			surveyStations[idx] = updatedSurveyStation;
			for (int i = 0; i < IsSurveyStationDisplayHidden.Count; i++)
			{
				if (i == idx)
				{
					IsSurveyStationDisplayHidden[i] = true;
					IsSurveyStationInputHidden[i] = false;
					IsSurveyStationEditButtonHidden[i] = true;
					IsSurveyStationDeleteButtonHidden[i] = true;
					IsSurveyStationUpdateButtonHidden[i] = false;
					IsSurveyStationCancelButtonHidden[i] = false;
					IsResultDisplayHidden[i] = true;
					IsResultInputHidden[i] = false;
				}
				else
				{
					IsSurveyStationDisplayHidden[i] = false;
					IsSurveyStationInputHidden[i] = true;
					IsSurveyStationEditButtonHidden[i] = true;
					IsSurveyStationDeleteButtonHidden[i] = true;
					IsSurveyStationUpdateButtonHidden[i] = true;
					IsSurveyStationCancelButtonHidden[i] = true;
					IsResultDisplayHidden[i] = false;
					IsResultInputHidden[i] = true;
				}
			}
		}
	}

	private async void Delete(int idx)
	{
		if (trajectories != null && idx >= 0 && idx < trajectories.Count && trajectories[idx] != null && trajectories[idx].ID > 0)
		{
			IsTableSurveyListHidden = true;
			var a = await httpTrajectory.DeleteAsync("Trajectories/" + trajectories[idx].ID);
			if (a.IsSuccessStatusCode)
			{
				await OnInitializedAsync();
				await InvokeAsync(() => { StateHasChanged(); });
			}
		}
	}

	private void DeleteSurveyStation(int idx)
	{
		if (surveyStations != null && idx >= 0 && idx < surveyStations.Count)
		{
			surveyStations[idx].Abscissa = null;
			surveyStations[idx].MD = 0;
			surveyStations[idx].Incl = 0;
			surveyStations[idx].Az = 0;
		}
	}

	private async void Update(int idx)
	{
		if (trajectories != null && idx >= 0 && idx < trajectories.Count && trajectories[idx].ID > 0)
		{
			// transfer edited surveyStations in trajectory
			if (updatedTrajectory.SurveyList == null)
			{
				updatedTrajectory.SurveyList = new SurveyList();
			}
			if (updatedTrajectory.SurveyList.Surveys == null)
			{
				updatedTrajectory.SurveyList.Surveys = new List<SurveyStation>();

			}
			updatedTrajectory.SurveyList.Surveys.Clear();
			if (surveyStations != null)
			{
				for (int i = 0; i < surveyStations.Count; i++)
				{
					if (!string.IsNullOrEmpty(surveyStations[i].MD.ToString()))
					{
						SurveyStation surveyStation = new SurveyStation();
						surveyStation = surveyStations[i];
						surveyStation.Uncertainty = surveyStations[i].Uncertainty;
						updatedTrajectory.SurveyList.Surveys.Add(surveyStation);
					}
				}
				updatedTrajectory.SurveyList.ListOfSurveys = surveyStations;
			}
			// end transfer edited surveyStations
			IsTableSurveyListHidden = true;
			StringContent content = new StringContent(updatedTrajectory.GetJson(), Encoding.UTF8, "application/json");
			var a = await httpTrajectory.PutAsync("Trajectories/" + trajectories[idx].ID, content);
			string req = "Trajectories/" + trajectories[idx].ID.ToString();
			string s = "Trajectories/" + trajectories[idx].ID.ToString() + "/" + "1";
			var b = await httpTrajectory.GetAsync("Trajectories/" + trajectories[idx].ID.ToString() + "/"+"1");
			Trajectory traj = new Trajectory();
			if (b.IsSuccessStatusCode)
			{
				string str = await b.Content.ReadAsStringAsync();
				if (!string.IsNullOrEmpty(str))
				{
					//traj = Newtonsoft.Json.JsonConvert.DeserializeObject<Trajectory>(str);
					List<List<double>> list = Newtonsoft.Json.JsonConvert.DeserializeObject<List<List<double>>>(str);
					listRadius = list;
				}
			}

			IsTrajectoryAddInput = false;
			for (int i = 0; i < IsTrajectoryDisplayHidden.Count; i++)
			{
				IsTrajectoryDisplayHidden[i] = false;
				IsTrajectoryInputHidden[i] = true;
				IsTrajectoryEditButtonHidden[i] = false;
				IsTrajectoryDeleteButtonHidden[i] = false;
				IsTrajectoryUpdateButtonHidden[i] = true;
				IsTrajectoryCancelButtonHidden[i] = true;
			}
			if (a.IsSuccessStatusCode)
			{
				await OnInitializedAsync();
				await InvokeAsync(() => { StateHasChanged(); });
			}
		}
	}


	private void UpdateSurveyStation(int idx)
	{

		if (surveyStations != null && idx >= 0 && idx < surveyStations.Count)
		{
			surveyStations[idx] = updatedSurveyStation;
		}
		//updatedSurveyStation.MD = 0;
		//updatedSurveyStation.Incl = 0;
		//updatedSurveyStation.Az = 0;
		for (int i = 0; i < IsSurveyStationDisplayHidden.Count; i++)
		{
			IsSurveyStationDisplayHidden[i] = false;
			IsSurveyStationInputHidden[i] = true;
			IsSurveyStationEditButtonHidden[i] = false;
			IsSurveyStationDeleteButtonHidden[i] = false;
			IsSurveyStationUpdateButtonHidden[i] = true;
			IsSurveyStationCancelButtonHidden[i] = true;
			IsResultDisplayHidden[i] = false;
			IsResultInputHidden[i] = true;
		}
	}

	private void Cancel(int idx)
	{
		if (trajectories != null && idx >= 0 && idx < trajectories.Count)
		{
			IsTableSurveyListHidden = true;
			IsTrajectoryAddInput = false;
			for (int i = 0; i < IsTrajectoryDisplayHidden.Count; i++)
			{
				IsTrajectoryDisplayHidden[i] = false;
				IsTrajectoryInputHidden[i] = true;
				IsTrajectoryEditButtonHidden[i] = false;
				IsTrajectoryDeleteButtonHidden[i] = false;
				IsTrajectoryUpdateButtonHidden[i] = true;
				IsTrajectoryCancelButtonHidden[i] = true;
			}
		}
	}

	private void CancelSurveyStation(int idx)
	{
		updatedSurveyStation.Abscissa = null;
		updatedSurveyStation.MD = 0;
		updatedSurveyStation.Incl = 0;
		updatedSurveyStation.Az = 0;
		for (int i = 0; i < IsSurveyStationDisplayHidden.Count; i++)
		{
			IsSurveyStationDisplayHidden[i] = false;
			IsSurveyStationInputHidden[i] = true;
			IsSurveyStationEditButtonHidden[i] = false;
			IsSurveyStationDeleteButtonHidden[i] = false;
			IsSurveyStationUpdateButtonHidden[i] = true;
			IsSurveyStationCancelButtonHidden[i] = true;
			IsResultDisplayHidden[i] = false;
			IsResultInputHidden[i] = true;
		}
	}
	private async void Add()
	{
		ModelClientShared.Trajectory newTrajectory = new ModelClientShared.Trajectory();
		editedTrajectory.Copy(newTrajectory);
		editedTrajectory.Name = null;
		editedTrajectory.Description = null;
		editedTrajectory.WellboreID = 0;
		WellboreSurveyInstrument.Add(surveyInstruments[0]);
		StringContent content = new StringContent(newTrajectory.GetJson(), Encoding.UTF8, "application/json");

		var a = await httpTrajectory.PostAsync("Trajectories", content);
		if (a.IsSuccessStatusCode)
		{
			await OnInitializedAsync();
			await InvokeAsync(() => { StateHasChanged(); });
		}

	}
	private void Cancel()
	{
		if (editedTrajectory != null)
		{
			editedTrajectory.Name = null;
			editedTrajectory.Description = null;
			editedTrajectory.WellboreID = 0;
		}
	}
}


