@page "/SurveyPoint"
@inject ILogger<SurveyPointMain> logger
@inject ISnackbar Snackbar
@inject IDialogService DialogService
<MudUnitAndReferenceChoiceTag HttpHost=@APIUtils.HostNameUnitConversion
                              HttpBasePath=@APIUtils.HostBasePathUnitConversion
                              HttpController="UnitSystem/"
                              UnitSystemName="@DataUtils.UnitAndReferenceParameters.UnitSystemName"
                              UnitSystemNameChanged="@DataUtils.UpdateUnitSystemName">
    @if (surveyPointList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div hidden="@isHiddenMainPanel">
            <MudDataGrid T="SurveyPoint" MultiSelection="true" Items="@surveyPointList" SelectedItemsChanged="@SelectedItemsChanged"
                         EditMode="DataGridEditMode.Cell"
                         Hover="true" 
                         SortMode="SortMode.Multiple" QuickFilter="@_surveyPointFilter" Filterable="false"
                         ReadOnly="false" ColumnResizeMode="ResizeMode.Column" Elevation="0">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">SurveyPoint</MudText>
                    <MudButton OnClick="@AddSurveyPoint" Color="@Color.Success" Class="add-item-btn">Add</MudButton>
                    <MudButton OnClick="@DeleteSelectedSurveyPoint" Color="@Color.Error" Class="add-item-btn">Delete</MudButton>
                    <MudSpacer />
                    <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                                  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </ToolBarContent>
                <Columns>
                    <SelectColumn T="SurveyPoint" />
                    <PropertyColumn Property="x => x.Name" Title="SurveyPoint" CellStyle="width: 30%;" Sortable="true" Editable="false" />
                    <PropertyColumn Property="x => x.Description" Title="Description" CellStyle="width: 40%;" Sortable="true" Editable="false" />
                    <TemplateColumn CellStyle="width: 25%;">
                        <EditTemplate>
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="(() => EditSurveyPoint(context.Item.MetaInfo.ID))" />                                                
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="(() => DeleteSurveyPoint(context.Item.MetaInfo.ID))" />
                        </EditTemplate>
                    </TemplateColumn>
                </Columns>
                <PagerContent>
                    <MudDataGridPager T="SurveyPoint" />
                </PagerContent>
            </MudDataGrid>
        </div>
    }
    @if (isHiddenMainPanel && (!isHiddenEditPanel))
    {
        <SurveyPointEdit SurveyPointId="@surveyPointIdBeingEdited"  ValueChanged="HandleEditPanelClosed" />
    }
</MudUnitAndReferenceChoiceTag>

@code {
    // SurveyPoint related variables
    private List<SurveyPoint> surveyPointList = new();
    private List<SurveyPoint> selectedSurveyPointList = new();
    private SurveyPoint? currentSurveyPoint;
    private List<object?>? inputDataList = new(); // container used to pass input data to the SurveyPointEdit razor component without specifying content types (required by µservice Template)
                                                  // SurveyPoint related variables
    // UI related variables
    public bool isHiddenMainPanel;
    public bool isHiddenEditPanel;
    private Guid? surveyPointIdBeingEdited;
    private string? _searchString;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Show main panel
            isHiddenMainPanel = false;
            isHiddenEditPanel = true;
            currentSurveyPoint = null;

            // Starting all loading tasks asynchronously
            logger.LogInformation("Trying to load list of SurveyPoint from client: " + APIUtils.HttpClientTrajectory);
            var surveyPointTask = APIUtils.ClientTrajectory.GetAllSurveyPointAsync();

            List<Task> loadingTaskList = new List<Task> { surveyPointTask };
            loadingTaskList.Add(surveyPointTask);

            // Awaiting tasks and retrieve results as they become available
            while (loadingTaskList.Count > 0)
            {
                Task finishedTask = await Task.WhenAny(loadingTaskList);
                if (finishedTask == surveyPointTask)
                {
                    try
                    {
                        surveyPointList = (List<SurveyPoint>)await surveyPointTask; // awaiting the finished task allows to retrieve its result and throw exception if needed
                        if (surveyPointList != null)
                        {
                            surveyPointList.Sort((t1, t2) => t1.Name.CompareTo(t2.Name));
                        }
                        else
                        {
                            logger.LogWarning("Returned list of SurveyPoint were null on initialization");
                            Snackbar.Add("Returned list of SurveyPoint were null on initialization", Severity.Warning);
                        }
                    }
                    catch (ApiException ex)
                    {
                        logger.LogError(ex, "Impossible to load SurveyPoint from client");
                    }
                }             
                loadingTaskList.Remove(finishedTask);
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Problem SurveyPoint initialization");
        }
        await InvokeAsync(() => { StateHasChanged(); });
    }

    private async Task AddSurveyPoint()
    {
        isHiddenMainPanel = true;
        isHiddenEditPanel = false;
        surveyPointIdBeingEdited = null;
    }

    private async Task EditSurveyPoint(Guid id)
    {
        isHiddenMainPanel = true;
        isHiddenEditPanel = false;
        surveyPointIdBeingEdited = id;
    }
    private async Task HandleEditPanelClosed()
    {
        isHiddenMainPanel = false;
        isHiddenEditPanel = true;
        surveyPointIdBeingEdited = null;
        await OnInitializedAsync();
    }

    private async Task<bool> ConfirmDeletion()
    {
        var options = new DialogOptions 
        { 
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Small,
            FullWidth = true    
        };
        var dialog = await DialogService.ShowAsync<DialogDeleteTemplate>("DELETE", options);
        var result = await dialog.Result;
        StateHasChanged();
        if (result == null)
        {
            return false;
        }
        else
        {
            return (!result.Canceled);
        }
    }
    private async Task DeleteSurveyPoint(Guid id)
    {
        try
        {
            if (await ConfirmDeletion())
            {
                await APIUtils.ClientTrajectory.DeleteSurveyPointByIdAsync(id);
                await OnInitializedAsync();
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to delete SurveyPoint");
        }
    }
    

    private async Task DeleteSelectedSurveyPoint()
    {
        try
        {
            if (await ConfirmDeletion())
            {
                foreach (SurveyPoint surveyPoint in selectedSurveyPointList)
                {
                    await APIUtils.ClientTrajectory.DeleteSurveyPointByIdAsync(surveyPoint.MetaInfo.ID);
                }
                await OnInitializedAsync();
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to delete all SurveyPoint");
        }

    }

    //Quick filter - filter gobally across multiple columns with the same input
    private Func<SurveyPoint, bool>
    _surveyPointFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;
        if ($"{x.Name} {x.Description}".Contains(_searchString))
            return true;

        return false;
    };
    
    //Events
    private void StartedEditingItem(SurveyPoint item)
    {
        //Activating Edit event capture with parameter StartedEditingItem="@StartedEditingItem" in MudDataGrid; arguments are specified in OnClick="@context.Actions.StartedEditingItem(...)"
    }

    private void CancelledEditingItem(SurveyPoint item)
    {
        //Activating Cancel event capture with parameter CancelledEditingItem = "@CancelledEditingItem" in MudDataGrid; arguments are specified in OnClick="@context.Actions.CancelledEditingItem(...)"
    }

    private void CommittedItemChanges(SurveyPoint item)
    {
        //Activating Commit event capture with parameter CommittedItemChanges = "@CommittedItemChanges" in MudDataGrid; arguments are specified in OnClick="@context.Actions.CommittedEditingItem(...)"
    }

    void SelectedItemsChanged(HashSet<SurveyPoint>
        items)
    {
        selectedSurveyPointList.Clear();
        selectedSurveyPointList.InsertRange(0, items);
    }
}
